* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 16pt;
	padding: 0 20px;
	text-align: center;
	min-height: 75px;
	width: 100%;
	margin-bottom: 20px;
}

p {
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 18pt;
	padding: 0 20px;
}

/* Стили для body */
body {
	/* Минимальная ширина не нужна, т.к. viewport и так 428px */
	/* width: 100%; - стоит по умолчанию */
	min-height: 100vh; /* Чтобы body был минимум по высоте экрана */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		sans-serif; /* Используем системные шрифты Apple */
	background: url(img/main_BG.jpg) no-repeat;
	color: #000;

	/* Чтобы контент не прилипал к краям безопасных областей (например, к "челке") */
	padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

.container {
	width: 100%;
	max-width: 428px; /* Ограничиваем ширину контента по макс. ширине устройства */
	margin: 0 auto; /* Центрируем, если экран будет больше (маловероятно, но на всякий случай) */
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
}

.score {
	width: 100%;
	max-width: 428px;
	height: 75px;
	color: #fff;
	font-size: 32pt;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-130deg, #b700ff 1%, #003fc8 100%);
}

.question {
	background: linear-gradient(-130deg, #b700ff 1%, #003fc8 100%);
	border-radius: 25px;
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.answer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.answer1 {
	background: url(img/answer1.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.answer2 {
	background: url(img/answer2.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.answer3 {
	background: url(img/answer3.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	width: 50%;
}
